VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=bicycle-ee76c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bicycle-ee76c
VITE_FIREBASE_STORAGE_BUCKET=bicycle-ee76c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_URL=https://bicycle-ee76c-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_CSDI_API_KEY=
VITE_MAPBOX_TOKEN=

